:root {
  --bg-color: #ffffff;
  --primary-color: #2D50E6;
  --title-color: #5d5d5d;
  --text-color: #7d7d7d;
  --skeleton-color-1: #d6d6d6;
  --skeleton-color-2: #cccccc;
  --skeleton-color-3: #e2e2e2;
  --grey-color: #f7f7f7;
  --light-color: #eeeeee;
  --inactive-color: #D95762;
  --active-color: #4CAF50;
  --border-color: #EAE9E3;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-weight: 400;
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5rem;
}